body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #bbdefb;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 1rem; /* Adjusted margins for better alignment */
}

#gameHeader{
    margin: auto auto 1.5rem;
    font-size: 3.5vw;
    padding-left: 20vw;
    position :relative;
}

#carName{
    margin-bottom: 2rem;
}

#carImage {
    width: 100px;
    height: auto;
    margin: 1rem 0;
}

#jumpCanvas {
    border: 1px solid #ccc;
    background-color: #e0f7fa;
    flex-grow: 1; /* Allows the canvas to grow and fill the remaining space */
    width: 100%;       /* Adjusts to the full width of its container */
    height: auto;      /* Maintains aspect ratio */
    margin: 0 auto;    /* Centers the canvas horizontally */
    display: block;
    min-height: 60vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%; /* Prevents overflow */
    gap: 1rem; /* Adds space between controls and canvas */
}
