            <div class="carousel">
                <div class="carousel-container">
                    <div class="carousel-slide">
                        <img src="../assets/images/carous-1.png" alt="Logo 1">
                        <div class="separator"></div>
                        <img src="../assets/images/carous-2.png" alt="Logo 2">
                        <div class="separator"></div>
                        <img src="../assets/images/carous-3.png" alt="Logo 3">
                        <div class="separator"></div>
                        <img src="../assets/images/carous-4.png"alt="Logo 4">
                        <div class="separator"></div>
                        <img src="../assets/images/carous-5.png" alt="Logo 5">
                        <div class="separator"></div>
                        <img src="../assets/images/carous-6.png" alt="Logo 6">
                        <div class="separator"></div>
                    </div>
                </div>
            </div>