/* carousel.css */
.carousel-embed {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem auto 2rem;
    padding: 0.5rem; /* Reduce padding to minimize height */
    border-radius: 0.35rem;
    border: 0.2rem solid #bb99fe;
    background-color: #f7f7f8;
    min-width: 200px;
    position: relative;
}

.carousel-slide {
    display: flex;
    align-items: center;
    gap: 2rem;
    animation: slide 20s linear infinite;
}

.carousel-slide img {
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s, opacity 0.3s;
}

.separator {
    width: 0.05em;
    height: 5em;
    background-color: #9f79e6;
    opacity: 0.6;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Responsive Design */
@media (max-width: 768px) {
    .carousel-slide {
        gap: 1rem;
    }
    .carousel-slide img {
        height: 40px;
    }
}

@media (max-width: 500px) {
    .carousel-embed {
        padding: 0.5rem;
    }
    .carousel-slide img {
        height: 30px;
    }
}
