

.home-page #slogan-main-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    min-height: 20vh;
    width:100vw;
    background-color: #f7f7f8;
    left:-3.75rem;
}

.home-page .slogan {
    margin-bottom: 1.5rem;
}

main{
    text-align: center;
}

#stock-home-img{
    position: relative;
    top:5rem;
    width:40%;
    height:auto;
    align-self: center;
    padding-left: 2rem;
}

.home-page h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

.home-page .highlight {
    color: #bb99fe;
    font-weight: bold;
}

.home-page .subtitle {
    font-size: 1.5rem;
    color: #333;
    margin: 0.5rem 0;
}

.home-page .description {
    font-size: 1rem;
    color: #333;
    margin: 1rem 0 2rem 0;
}


/* Buttons */
.home-page .main-nav-buttons {
    display: flex;
    gap: 1rem;
}

.home-page .btn {
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.home-page .btn.explore {
    background-color: #9f79e6;
    color: white;
}

.home-page .btn.explore:hover {
    background-color: #9f79e6;
}

.home-page .btn.pricing {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
}

#sparkle-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#slogan-sparkle {
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    width: 2.5rem;
    z-index: 1;
}

@media (max-width: 566px) {
    #slogan-sparkle {
        width: 2rem;
        top: -2rem;
        left: 2.5rem;
    }
}

.main-slogan {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0.6rem 0.25rem 0.8rem;
    z-index: 0;
}

.main-slogan {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0.6rem 0.25rem 0.8rem;
}

.lightning-icon {
    width: 2.5rem;
    margin-right: 0.5rem;
    align-self: center;
}

.home-page .btn.pricing:hover {
    background-color: #f0f0f0;
}

@media (max-width: 463px) {
    #stock-home-img{

        left:-0.3rem;
    }
}
@media(max-width:613px){
    #stock-home-img{
        left:-0.5rem;
    }
}

@media (max-width: 744px) {

    #stock-home-img {
        width:100%;
    }
}
@media (max-width: 744px) {

    #stock-home-img {
       padding-left: 1rem;
        width:80%;
    }
}
@media (max-width: 768px) {
    .home-page h1 {
        font-size: 2rem;
    }
    .home-page .subtitle {
        font-size: 1.2rem;
    }
    .home-page .description {
        font-size: 0.9rem;
    }
    .home-page .btn {
        padding: 0.7rem 1.5rem;
        font-size: 0.9rem;
    }
    #stock-home-img {
        width:60%;
    }
}

@media (max-width: 480px) {
    .home-page h1 {
        font-size: 1.5rem;
    }
    .home-page .subtitle {
        font-size: 1rem;
    }
    .home-page .description {
        font-size: 0.8rem;
    }
    .home-page .main-nav-buttons {
        flex-direction: column;
    }
    .home-page .btn {
        padding: 0.6rem 1.2rem;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
}



@media (min-width: 2000px) {
    .home-page h1 {
        font-size: 4.5rem;
    }
    .home-page .subtitle {
        font-size: 2.7rem;
    }
    .home-page .description {
        font-size: 1.8rem;
    }
    .home-page .btn {
        padding: 1.6rem 4rem;
        font-size: 1.76rem;
    }
}