main {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #bbdefb;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 1rem;
}

#gameHeader {
    margin: auto auto 1.5rem;
    font-size: 3.5vw;
    padding-left: 20vw;
    position: relative;
}

#carName {
    margin-bottom: 2rem;
}

#carImage {
    width: 100px;
    height: auto;
    margin: 1rem 0;
}

#jumpCanvas {
    border: 1px solid #ccc;
    background-color: #e0f7fa;
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    min-height: 60vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    gap: 1rem;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#startButton:hover {
    background-color: #45a049;
}
